*.iml
*.o
*.pyc
*.swp
*.tmp
*~
.deps
.idea
.project
.pydevproject
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build-aux/depcomp
build-aux/install-sh
build-aux/missing
build-aux/py-compile
config.log
config.status
configure
tests/run_tests.sh
tests/run_tests_local.sh
gluster-nagios-addons-*.tar.gz
gluster-nagios-addons.spec
